*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

body{
    height: 100%;
    background-color: rgb(10, 16, 37);
}

h1 {
    color:#fff;
    font-size: 3rem;
    font-weight: 50;
    text-align: center;
    margin: 1rem 0 3rem;
    font-family: Tahoma;
}

.titulo{
    color: rgb(204,7,0);
    text-transform: uppercase;
    font-weight: 800;
}

.input-div{
    display: flex;
    justify-content: center;
    align-items: center;
}

input{
    padding: 0.5rem 1rem;
    outline: none;
    border: none;
    border-radius: 25px;
    width: 350px;
    margin: 0.25rem;
    transition: .5s;
    font-size: 1.15rem;
}

input:hover{
    transform: translateY(-3px);
}

.add{
    outline: none;
    border: none;
    height: 50px;
    border-radius: 25px;
    width: 50px;
    background-color: lime;
    cursor: pointer;
    transition: .5s;
    margin: 0.25rem;
}

.add:hover{
    background-color: red;
    transform: scale(0.9);
    opacity: 0.6;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 2rem;
}

.item{
    padding: 0.5rem;
    border-bottom: 4px solid #fff;
    margin-bottom: 1.5rem;
}

.item-input{
    background: none;
    outline: none;
    border: none;
    font-size: 1.4rem;
    width: 245px;
    color: aquamarine;
}

.edit{
    background: none;
    outline: none;
    border: none;
    color: lime;
    font-size: 1.4rem;
    font-family: Tahoma;
    margin: 0 0.5rem;
    cursor: pointer;
    transition: 0.5s;
}

.edit:hover{
    color: red;
    transform: scale(0.9);
    opacity: 0.6;
}


.remove{
    background : none;
    outline: none;
    border: none;
    color:rgb(208, 228, 33);
    font-size: 1.4rem;
    font-family: Tahoma;
    margin: 0 0.5rem;
    cursor: pointer;
    transition: 0.5s;
}

.remove:hover{
    color: red;
    opacity: 0.6;
    transform: scale(0.9);

}